.App {
  font-family: 'Lato', sans-serif;
}

.ReactModal__Overlay
{
  overflow: auto;
}

.ReactModal__Body--open
{
  height: 100%;
  overflow: hidden;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 200ms ease-in-out;;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/*
ED145A red
F090C0 pink
#f890e7 hot pink
22ABC7
18D8F0
18C0F0
*/

/*
#0bd3d3 teal
#f890e7 hot pink
 */

/*
f94fa4
 */